@{
    Layout = null;
}

<html ng-app="gamelocation" ng-controller="LoginController" ng-cloak>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ingenium WorkSchedule - Login</title>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon">
    <script type="text/javascript">
        var applicationPathHeader = "@Url.Content("~/")";
    </script>
    @System.Web.Optimization.Styles.Render("~/Content/css")

    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/bootstrap")
    @System.Web.Optimization.Scripts.Render("~/bundles/login")
    @System.Web.Optimization.Scripts.Render("~/bundles/angular")
</head>
<body>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form>
                <div class="margin-top">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user" style="width: 14px;"></i></span>
                        <input type="text" class="form-control input-color" id="cpfcnpj" placeholder="Nome" ng-model="Name">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        <input type="password" class="form-control input-color" id="password" placeholder="Password" ng-model="Password" >
                    </div>
                </div>
                <button type="submit" ng-click="login();" prevent-default class="form-control btn btn-default margin-top button-default-color">Login</button>
                <button type="submit" ng-click="signup();" prevent-default class="form-control btn btn-default margin-top">Quero me Cadastrar</button>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>

</body>
</html>